
<h1 *ngIf="isLoading; else content">Loading...</h1>


<ng-template #content>
<div>
  <h1>parent</h1>
  <h2>Child gets next grade:</h2>
  <h3>math: {{math}}</h3>
  <h3>english: {{english}}</h3>

  <div>
    <p *ngFor="let grade of grades; index as i; count as count">from Input:

      <br><span> index: {{i}} </span>
      <br>
      <span>element:  {{grade}}</span>
      <br>
      <span>total count: {{count}} </span>
    </p>
  </div>

  <div *ngFor="let lesson of lessons">
    <div>
      <h2>{{lesson.title}}</h2>
    </div>
    <h3>WeekGrades:
      <p *ngFor="let grade of lesson.weekGrades">{{grade.day}} - {{grade.gridItem}}</p>
    </h3>
  </div>
  <ang-child
    (sendGradeEvent)="getGrade($event)"
    (sendInputGradeEvent)="getGradeFomInput($event)"
  ></ang-child>


</div>
</ng-template>
